<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social_Media_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Social_Media_App.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/img/site/favicon.png" type="image/png">
    @await RenderSectionAsync("Styles", required: false)
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
</head>
<body>
    <header>
        <partial name="_NavPartial" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; @DateTime.UtcNow.Year - Social_Media_App -</p>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notificationHub.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
