@model PostViewModel
@{
    string username = Model.User.UserName[..Model.User.UserName.IndexOf('@')];
    string titleCaption =
        Model.Caption?.Length >= 20 ?
        Model.Caption[..20] + "..." :
        Model.Caption;

    if (titleCaption != null)
    {
        ViewData["Title"] = $"{username} - {titleCaption}";
    }
    else
    {
        ViewData["Title"] = $"{username}";
    }
}

<section class="main-container">
    <partial name="Post/_PostPartial" model="@Model" />
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/post/post.css" />
    <link rel="stylesheet" href="~/css/home/feed.css" />
}