@model UserProfileViewModel
@inject UserManager<User> UserManager
@{
	ViewData["Title"] = Model.User.Username;
}

<section class="main-container">
    <section class="user-info">
        <h2>@Model.User.Username[..Model.User.Username.IndexOf('@')]</h2>
        @if (UserManager.GetUserId(User) == Model.User.Id)
        {
            <a asp-area="" asp-controller="Post" asp-action="Create">Create Post</a>
        }
    </section>
    <section class="user-posts">
        @for (int i = 0; i < 3; i++)
        {
            <article class="post loading-indicator">
                <div class="gradient-container"></div>
            </article>
        }
    </section>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/user/profileGallery.css" />
    <link rel="stylesheet" href="~/css/user/userProfile.css" />
    <link rel="stylesheet" href="~/css/home/postTemplate.css" />
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="module" src="~/js/post/postHubSetup.js"></script>
}