<article class="post loading-indicator loading-post-template">
    <div class="gradient-container"></div>
    <div class="info">
        <div class="details">
            <a>
                <p>Username</p>
            </a>
            <span>•</span>
            <time>July 10, 2023</time>
            <span>•</span>
            <time>UTC 2:28 PM</time>
        </div>
    </div>
    <span class="templete-image"></span>
    <div class="actions">
        <div>
            <img src="~/img/feed/like.png" />
            <p>0</p>
        </div>
        <div>
            <img src="~/img/feed/comment.png" />
            <p>0</p>
        </div>
        <div>
            <img src="~/img/feed/share.png" />
            <p>0</p>
        </div>
    </div>
    <div class="caption">
        <a>
            <p>Username</p>
        </a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non fermentum eros. Donec fringilla gravida ligula eu varius
        </p>
    </div>
    <div class="comments-preview">
        <p>View comments</p>
    </div>
</article>