@model GalleryPostViewModel

<article class="post">
    <a asp-area="" asp-controller="Post" asp-action="View" asp-route-id="@Model.Id"></a>
    <img class="post-image" src="~/uploads/@Model.ImagePath" alt="Post image" />
    <div class="post-stats">
        <div>
            <img src="~/img/feed/like.png" />
            <p>@Model.Likes.Count</p>
        </div>
        <div>
            <img src="~/img/feed/comment.png" />
            <p>@Model.Comments.Count</p>
        </div>
        <div>
            <img src="~/img/feed/share.png" />
            <p>20k</p>
        </div>
    </div>
</article>