@using Social_Media_App.Models.Home;
@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<section class="main-container">
    <section class="feed">
        <section class="posts">
            @for (int i = 0; i < 3; i++)
            {
                <article class="post loadingIndicator loading-post-template">
                    <div class="gradient-container"></div>
                    <div class="info">
                        <div class="details">
                            <a>
                                <p>Username</p>
                            </a>
                            <span>•</span>
                            <time>July 10, 2023</time>
                            <span>•</span>
                            <time>UTC 2:28 PM</time>
                        </div>
                    </div>
                    <span class="templete-image"></span>
                    <div class="actions">
                        <div>
                            <img src="~/img/feed/like.png" />
                            <p>0</p>
                        </div>
                        <div>
                            <img src="~/img/feed/comment.png" />
                            <p>0</p>
                        </div>
                        <div>
                            <img src="~/img/feed/share.png" />
                            <p>0</p>
                        </div>
                    </div>
                    <div class="caption">
                        <a>
                            <p>Username</p>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non fermentum eros. Donec fringilla gravida ligula eu varius
                        </p>
                    </div>
                    <div class="comments-preview">
                        <p>View comments</p>
                    </div>
                </article>
            }
        </section>
    </section>
    <section class="friends">
        <h2>Friends</h2>
        <ul class ="friend-list">
            <li class="friend">
                <img src="https://www.looper.com/img/gallery/why-hugh-laurie-was-never-the-same-after-house/intro-1567096480.jpg" />
                <p>Hugh Laurie</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://media.vanityfair.com/photos/624c8bd2004978a71edce56d/3:2/w_3998,h_2665,c_limit/1198930383" />
                <p>Selena Gomez</p>
                <span class="activity-status"></span>
            </li>
            <li class="friend">
                <img src="https://imageio.forbes.com/specials-images/imageserve/6080aa17b3e5a1188be76765/62nd-Annual-Grammy-Awards---Arrivals/960x0.jpg?format=jpg&width=960" />
                <p>Ariana Grande</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://ca-times.brightspotcdn.com/dims4/default/ece46e6/2147483647/strip/true/crop/1960x1234+0+0/resize/1200x756!/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fb8%2F5e%2Fc778bd834a9bbcbb55f844250792%2Fu-s-premiere-of-avatar-the-way-of-water-88166.jpg" />
                <p>Abel Tesfaye</p>
                <span class="activity-status"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>
            <li class="friend">
                <img src="https://variety.com/wp-content/uploads/2022/02/Cillian-Murphy-Peaky-Blinders-1.jpg?w=1000" />
                <p>Cillian Murphy</p>
                <span class="activity-status active"></span>
            </li>

        </ul>
    </section>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/home/postTemplate.css" />
    <link rel="stylesheet" href="~/css/home/home.css" />
    <link rel="stylesheet" href="~/css/home/friendsSection.css" />
    <link rel="stylesheet" href="~/css/home/feed.css" />
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/post/renderPosts.js"></script>
}